<!DOCTYPE html>
<html lang="en">

<head>
    <title>Snatched</title>
    <meta charset="UTF-8">
    <meta name="description" content="Snatched HTML">
    <meta name="keywords" content="food, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="../img/logo copy.png" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="../css/style.css" />

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/newsletter.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section clearfix">
        <a href="/" class="site-logo">
            <img src="../img/logo copy.png" alt="">
        </a>
        <div class="header-right">
            <a href="#" class="hr-btn">Help</a>
            <span>|</span>
            <div class="user-panel">
                <a href="/login" class="login">Login</a>
                <a href="/signup" class="register">Create an account</a>
            </div>
        </div>
        <ul class="main-menu">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#part">Partners</a></li>
            <li><a href="#app">Download </a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </header>
    <!-- Header section end -->

    <!-- Hero section -->
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2>
                                    <span style="font-size: 1;">Welcome</span>
                                    <br>
                                    <h2>Snatched</h2>
                                    </span>
                                </h2>
                                <p>
                                    We care for your Time!!!
                                </p>
                                <a href="#" class="site-btn">Order Online</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hr-img">
                                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_VWqKSz.json" background="transparent" speed="1.4" style="width: 600px; height: 600px;" loop autoplay></lottie-player>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2>
                                    <span style="font-size: 1;">Welcome</span>
                                    <br>
                                    <h2>Snatched</h2>
                                    </span>
                                </h2>
                                <p>
                                    We care for your Time!!!
                                </p>
                                <a href="#" class="site-btn">Order Online</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hr-img">
                                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_VWqKSz.json" background="transparent" speed="1.4" style="width: 600px; height: 600px;" loop autoplay></lottie-player>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->

    <!-- Intro section -->
    <section class="intro-section spad" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title intro">
                        <h2>About Us</h2>
                        <img class="logo-1" src="../img/logo copy.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>
                        Life is a roller coaster of situations and our reactions to them, but one thing that stays constant in life is food. We all can be divided on various factors, but what unites all of us together is the irreplaceable love for food. The one thing that irritates
                        us about having a good meal is the long, endless queues resulting in frustration and hence loss in appetite. Especially at the professional institutions when the break is very limited and the queues seem endless. We at Snatched
                        , provide a thoughtful solution to this issue. Through our application, you can order your favorite meal by a touch and we will handle all the chaos. What you get is a divine, hustle-free takeaway meal and all that is left to do
                        is enjoy the Food. Isn’t it simply awesome? Don’t waste your precious lunch breaks in the long queues and spoil your mood. Our team will make sure that you get your instant meal for an instant hunger and an instant elevation in
                        happiness.

                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Intro section end -->

    <!-- How section -->
    <section class="how-section spad set-bg" data-setbg="">
        <div class="container text-white">
            <div class="section-title">
                <h2>Why Us?</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="../img/icons/brain.png" alt="">
                        </div>
                        <h4>
                            Our Mission
                        </h4>
                        <p>
                            Life is good -To Express the power of time As a changemaker,We provide a thoughtful solution to this issue. We are working to save time, especially for working professional & college students.What you get is a divine, hustle-free takeaway meal.

                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="../img/icons/pointer.png" alt="">
                        </div>
                        <h4>
                            Who we are
                        </h4>
                        <p>
                            You are a thousand things but everyone chooses to see the million things, We deliver a service for social cause by saving our world most efficient people’s time for their important part of day.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="../img/icons/smartphone.png" alt="">
                        </div>
                        <h4>
                            What you get
                        </h4>
                        <p>
                            The most effective way to do it, is to do it. We at Snatched , provide a thoughtful solution to this issue. Through our application, you can order your favorite meal by a touch and we will handle all the chaos. What you get is a divine, hustle-free takeaway
                            meal and all that is left to do is enjoy the Food.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How section end -->

    <!-- Concept section -->
    <section class="concept-section spad" id="part">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>Our Partners</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="concept-item">
                        <img src="../img/concept/1.jpg" alt="">
                        <h5>Galgotias UNiversity</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="concept-item">
                        <img src="../img/concept/2.jpg" alt="">
                        <h5>Galgotias UNiversity</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="concept-item">
                        <img src="../img/concept/3.jpg" alt="">
                        <h5>Galgotias UNiversity</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="concept-item">
                        <img src="../img/concept/4.jpg" alt="">
                        <h5>Galgotias UNiversity</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Concept section end -->

    <!-- Download section -->
    <section class="download-section spad" id="app">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="sub-text">
                        <h2>Download the App</h2>
                        <br>
                        <a href="#" class="site-btn">Try it now</a>
                    </div>
                </div>
                <div class="col-lg -6">
                    <ul class="sub-list">
                        <img src="./" alt="">
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Download section end -->

    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 order-lg-2">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <h2>About us</h2>
                                <ul>
                                    <li><a href="">Our Story</a></li>
                                    <li><a href="">Snatched Blog</a></li>
                                    <li><a href="">History</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <h2>Playlists</h2>
                                <ul>
                                    <li><a href="">Newsletter</a></li>
                                    <li><a href="">Careers</a></li>
                                    <li><a href="">Press</a></li>
                                    <li><a href="">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 order-lg-1">
                    <h2 style="color: black;">Snatched</h2>
                    <br>
                    <form class="contact-from" action="/sendnews" method="post" id="form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="email" name="email" id="email" placeholder="Your email" onkeypress="inputData()" autocomplete="off" required>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="site-btn" id="submit" onclick="fun()">send message</button>
                            </div>
                        </div>
                    </form>
                    <br>

                    <div class="social-links">
                        <a href=""><i class="fa fa-instagram white-color"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->

    <!--====== Javascripts & Jquery ======-->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.slicknav.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/mixitup.min.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>