<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
    <title>Forgot Password</title>
    <script src="../js/passreset.js"></script>
</head>
<body>
    <input type="email" name="email" id="email" autocomplete="off" required>
    <button onclick="sendMail()">Send Reset Mail</button>
</body>
</html>