<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription</title>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
    <script src="../js/profile.js"></script>
</head>

<body>
    <div id="userEmail" style="display: none;">
        <p>Email Not Verified.</p>
        <button id="sendVerificationMail" onclick="mailNow()">Send Verifcation Mail</button>
    </div>
    <p id="user"></p>
    <a href="/contactinfo">Update Details</a>
    <form action="/sendnews" method="post" id="form">
        <input type="hidden" name="uid" id="uid">
        <input type="email" name="email" id="email" onkeypress="inputData()" autocomplete="off" required>
        <input type="submit" value="Submit" id="submit" onclick="fun()">
    </form>
    <a style="float: right;" onclick="signout()">Log out</a>
</body>

</html>